mixin analysis-slider(whitebg=false)
    .analysis-slider.full-width-slider
        +slider('js-analysis-slider')
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Затакт: что нужно в самом начале?
                    a(href="#") Подробнее
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Обучение в ДШИ
                    a(href="#") Подробнее
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Для поступающих
                    a(href="#") Подробнее
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Как выбрать школу
                    a(href="#") Подробнее
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Для поступающих
                    a(href="#") Подробнее
            +sliderItem()
                .analysis-slider__item(class=whitebg ? "analysis-slider__item--white" : '')
                    .analysis-slider__item-subtitle Разбор
                    .analysis-slider__item-title Затакт: что нужно в самом начале?
                    a(href="#") Подробнее
